
/* app.css */

.svg-icon {
    > .svg-icon-item {
        width: 48px;
        height: 48px;
        vertical-align: text-bottom;
        stroke: currentColor;
        stroke-width: 2;
    }
}

.bg-cover {
    background-size: cover;
}

.bg-center {
    background-position: center center;
}

.bg-fixed {
    background-attachment: fixed;
}

.divider {
    background: url(/backgrounds/divider-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.text-right {
    text-align: right;
}

.divider h1 {
    font-size: 4vw;
    font-weight: 700;
    background: -webkit-gradient( 
        linear, left top, right top, 
        from(rgb(170, 25, 192)), 
        color-stop(20%, rgb(208, 22, 40)),  
        color-stop(40%, rgb(22, 150, 155)),  
        color-stop(60%, rgb(23, 199, 88)),  
        color-stop(80%, rgb(188, 200, 51)),  
        to(rgb(204, 165, 194))); 
        background-clip: text; 
        -webkit-background-clip: text;  -webkit-text-fill-color: transparent;
}