/* common.css */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);

*,
*::after,
*::before{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #000;
	--primary-bg-color: #fff;
    --primary-font-family: 'Roboto', sans-serif; 
	--primary-font-size: 0.875rem;

    --main-color: #009;
    --anchor-color: #333;
    --anchor-active-color: salmon;
    --currency-symbol: "\20B4"; /*unicod*/
}

body{

    color: var(--primary-text-color) ;
    background: var(--primary-bg-color);
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);

    color: var(--main-color);
    font-family: 'Poppins', sans-serif;
    /* font-size: .875rem / 1.3; */
    font-size: clamp(.85rem, 1.2rem, 1rem);
}

h1, h2, h3{
    font-weight: 600;
}
h1 {
    /* font-size: calc(1.3rem + 1.1vw); */
    font-size: clamp(1.5rem, 3vw, 2rem);
}

h2 {
    /* font-size: calc(1.2rem + .8vw); */
    font-size: clamp(1.3rem, 2vw, 1.5rem);
}
h3{
    color: var(--primary-bg-color);
    font-size: clamp(1.2rem, 1.5vw, 1.3rem);
}

.list-unstyled{
    list-style: none;
}

p{
    /* common property for p */
}

a {
    color: var(--anchor-color);
    text-decoration: none;
}

footer {
    --footer-text-color: #fff;
    --footer-bg-color: #000;
}

.footer-social ul li{
    padding: 1em 1em;
}