h1, h2, h3{
    color: gray;
}

#main{
    color: #e60202
}

.h2{
    color: red;
}

.heading {
    color: green;
}
ul > li{
    font-weight: bold;
}

/*  Колір тексту p всередині елемента div не зміниться, a зміниться тільки колір тексту p всередині елемента section, тому що ми використовуємо дочірній комбінатор знак > між батьківським елементом section і дочірнім елементом p. Дочірній комбінатор вибирає елементи, які є прямими дочірніми елементами
зазначеного батьківського елемента.*/
section > p {
    color: red;
}

section p {
    font-size: 1.5rem ;
}

/* Я додала "body >", перед "h2:first-of-type", щоби у колір indigo не перефарбувалися усі "перші" елементи h2, що містяться у інших тегах нашого html-файлу */
body > h2:first-of-type {
    color: indigo;
}

/* - застосувати до всіх посилань, нащадкам p.first властивість color: green  */
p.first a {
    color: green;
}
/* - стилізувати посилання з властивістю color: green, що розташовані всередині будь-якого тегу з класом .first, що є нащадком елементу p  */
p > .first > a{
    color: green;
}

div ~ p {
    color: salmon;
}


/* - Використовцючи hsl, створіть для класу translucent-box напівпрозору властивість background */
.translucent-box{
    background: hsl(0, 100%, 50%, 50%);
}